.mainColor {
    background-color: #4E0077;
}

.menu-burguer {
    background-color: #EA7A15;
    color: white;
    border-radius: 50%;
}

.logo {
    padding: 2%;
    width: 70%;
    min-width: 150px;
    max-width: 300px;
}

.bar-logo {
    width: 100%;
}

.logo-aliadas {
    text-align: center;
}

.logo-aliadas img {
    width: 60%;
    max-width: 300px;
}


.align-content {
    text-align: center;
}

.grid {
    padding: 20px;
}

.contenido {
    padding: 10%;
}

.main-title {
    font-size: 1.2em;
}

li {
    font-size: 0.9em;
    line-height: 20px;
    text-align: justify;
}

h2 {
    font-size: 1.2em;
    color: #4E0077;
}

.description-text {
    font-size: 0.9em;
    line-height: 20px;
    text-align: justify;
}