<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end" class="menu-burguer">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-img src="../../assets/images/aliadas-logo.png" class="logo"></ion-img>
  </ion-toolbar>
  <ion-img src="../../assets/images/color-top.jpg" class="bar-logo"></ion-img>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>

  <section class="head-data">
    <div>
      <p class="head-data-title">$1'000.000</p>
      <p class="head-data-subtitle">SALARIO MÍNIMO 2022</p>
    </div>
    <div>
      <p class="head-data-title">$117.172</p>
      <p class="head-data-subtitle">AUXILIO DE TRANSPORTE</p>
    </div>
  </section>

  <section>

    <form novalidate [formGroup]="formularioPrincipal" (ngSubmit)="recogerInformacion(formularioPrincipal)"
      class="form-container">

      <p class="title-form">Datos Principales</p>
      <p class="text-form">Para comenzar, ingresa los siguientes campos:</p>


      <mat-form-field appearance="fill">
        <mat-label>Fecha Inicio</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="fechaInicio">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <p *ngIf="formularioPrincipal.get('fechaInicio')?.hasError('required') && formularioPrincipal.get('fechaInicio')?.touched"
        class="validadores">Este campo es
        obligatorio</p>

      <mat-form-field appearance="fill">
        <mat-label>Fecha Fin</mat-label>
        <input matInput [matDatepicker]="pickerf" formControlName="fechaFin">
        <mat-datepicker-toggle matSuffix [for]="pickerf"></mat-datepicker-toggle>
        <mat-datepicker #pickerf></mat-datepicker>
      </mat-form-field>
      <p *ngIf="formularioPrincipal.get('fechaFin')?.hasError('required') && formularioPrincipal.get('fechaFin')?.touched"
        class="validadores">Este campo es
        obligatorio</p>

      <ion-item>
        <ion-label position="stacked">Tipo de Trabajo</ion-label>
        <ion-select formControlName="tipoTrabajo" (ionChange)="selectorSalario($event)">
          <ion-select-option value="tiempo-completo">Tiempo completo</ion-select-option>
          <ion-select-option value="por-dias">Por días</ion-select-option>
          <ion-select-option value="por-horas">Por horas</ion-select-option>
        </ion-select>
      </ion-item>
      <p *ngIf="formularioPrincipal.get('tipoTrabajo')?.hasError('required') && formularioPrincipal.get('tipoTrabajo')?.touched"
        class="validadores">Este campo es
        obligatorio</p>



      <ion-item *ngIf="isShowMes">
        <ion-label position="stacked">Tu Salario Mensual:</ion-label>
        <ion-input type="text" formControlName="salarioMensual" placeholder="$"></ion-input>
      </ion-item>
      <p *ngIf="formularioPrincipal.get('salarioMensual')?.hasError('required') && formularioPrincipal.get('salarioMensual')?.touched"
        class="validadores">Este campo es
        obligatorio</p>
      <p *ngIf="formularioPrincipal.get('salarioMensual')?.hasError('pattern') && formularioPrincipal.get('salarioMensual')?.touched"
        class="validadores">Escribe sólo números, sin puntos, comas o signos.</p>



      <ion-item *ngIf="isShowHora">
        <ion-label position="stacked">Salario pactado por hora:</ion-label>
        <ion-input type="text" formControlName="salarioPorHora" placeholder="$"></ion-input>
      </ion-item>
      <p *ngIf="formularioPrincipal.get('salarioPorHora')?.hasError('required') && formularioPrincipal.get('salarioPorHora')?.touched"
        class="validadores">Este campo es
        obligatorio</p>
      <p *ngIf="formularioPrincipal.get('salarioPorHora')?.hasError('pattern') && formularioPrincipal.get('salarioPorHora')?.touched"
        class="validadores">Escribe sólo números, sin puntos, comas o signos.</p>





      <ion-item *ngIf="isShowDia">
        <ion-label position="stacked">Salario pactado por día:</ion-label>
        <ion-input type="text" formControlName="salarioPorDia" placeholder="$"></ion-input>
      </ion-item>
      <p *ngIf="formularioPrincipal.get('salarioPorDia')?.hasError('required') && formularioPrincipal.get('salarioPorDia')?.touched"
        class="validadores">Este campo es
        obligatorio</p>
      <p *ngIf="formularioPrincipal.get('salarioPorDia')?.hasError('pattern') && formularioPrincipal.get('salarioPorDia')?.touched"
        class="validadores">Escribe sólo números, sin puntos, comas o signos.</p>


      <ion-item>
        <ion-label position="stacked">Otras Formas de Pago</ion-label>
        <ion-input type="number" formControlName="otrasFormasDePago"></ion-input>
      </ion-item>


      <input *ngIf="buttonInactive" type="submit" value="Calcular" class="btn-inactive"
        [disabled]="!formularioPrincipal.valid" (click)="onSubmitMes()">


      <input *ngIf="buttonMes" type="submit" value="Calcular Mes" class="btn-next"
        [disabled]="!formularioPrincipal.valid" (click)="onSubmitMes()">

      <input *ngIf="buttonDia" type="submit" value="Calcular Dia" class="btn-next"
        [disabled]="!formularioPrincipal.valid" (click)="onSubmitDia()">

      <input *ngIf="buttonHora" type="submit" value="Calcular Hora" class="btn-next"
        [disabled]="!formularioPrincipal.valid" (click)="onSubmitHora()">

    </form>