.mainColor {
    background-color: #4E0077;
}

.menu-burguer {
    background-color: #EA7A15;
    color: white;
    border-radius: 50%;
}

.logo {
    padding: 2%;
    width: 70%;
    min-width: 150px;
    max-width: 300px;
}

.bar-logo {
    width: 100%;
}

.align-content {
    text-align: center;
}

.grid {
    padding: 20px;
}

.content {
    margin-top: 80px;
    padding: 20px;
    text-align: center;
}


.background-title {
    background-color: #4E0077;
    border-radius: 10px;
    padding: 0.3em;
    margin: 0.4em;
}

.container-encuesta {
    padding: 1.5em;
}

.title {
    margin: 1em;
    font-size: 1.2em;
    text-align: center;
    color: white;
    line-height: 20px;
}

.button-encuesta {
    color: white;
    text-align: center;
    width: 50%;
}