.mainColor {
    background-color: #4E0077;
}

.whiteColor {
    background-color: white;
}

.menu-burguer {
    background-color: #EA7A15;
    color: white;
    border-radius: 50%;
}

.logo {
    padding: 2%;
    width: 70%;
    min-width: 150px;
    max-width: 300px;
}

.bar-logo {
    width: 100%;
}

.align-content {
    text-align: center;
}

.grid {
    padding: 20px;
}