<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end" class="menu-burguer">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-img src="../../assets/images/aliadas-logo.png" class="logo"></ion-img>
  </ion-toolbar>
  <ion-img src="../../assets/images/color-top.jpg" class="bar-logo"></ion-img>
</ion-header>


<ion-content class="align-content">
  <ion-grid class="white-color">
    <ion-row>
      <ion-col class="grid">
        <img src="../../assets/images/bt-trabajo.png" alt="Botón Trabajo Doméstico"
          [routerLink]="['/misderechos-trabajo']">
      </ion-col>
      <ion-col class="grid">
        <img src="../../assets/images/bt-contratacion.png" alt="Botón Contratación"
          [routerLink]="['/misderechos-contratacion']">
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class=" grid">
        <img src="../../assets/images/bt-jornada-laboral.png" alt="Botón Jornada Laboral"
          [routerLink]="['/misderechos-jornadalaboral']">
      </ion-col>
      <ion-col class="grid">
        <img src="../../assets/images/bt-salud.png" alt="Botón Salario" [routerLink]="['/misderechos-salarios']">
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="grid">
        <img src="../../assets/images/bt-seguridad-social.png" alt="Botón Seguridad Social"
          [routerLink]="['/misderechos-seguridadsocial']">
      </ion-col>
      <ion-col class="grid">
        <img src="../../assets/images/bt-beneficios-laborales.png" alt="Botón Beneficios Laborales"
          [routerLink]="['/misderechos-beneficios']">
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="grid">
        <img src="../../assets/images/bt-enfermedades-accidentes.png" alt="Botón Enfermedades Accidentes"
          [routerLink]="['/misderechos-enfermedades']">
      </ion-col>
      <ion-col class="grid">
        <img src="../../assets/images/bt-licencias-y-permisos.png" alt="Botón Licencias Permisos"
          [routerLink]="['/misderechos-licencias']">
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>


<!-- <ion-content>
  <iframe width="100%" height="800px" frameBorder="0" [src]="urlSafe"></iframe>
</ion-content> -->