<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end" class="menu-burguer">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-img src="../../assets/images/aliadas-logo.png" class="logo"></ion-img>
  </ion-toolbar>
  <ion-img src="../../assets/images/color-top.jpg" class="bar-logo"></ion-img>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>

  <section class="head-data">
    <div>
      <p class="head-data-title">Tus Resultados:</p>
      <p class="head-data-subtitle">Ingreso Mensual</p>
    </div>
  </section>

  <section class="form-container">
    <h2 class="titulo-bloque">Información General</h2>
    <div class="bloque-data" *ngFor="let data of dataAll">
      <div>
        <h3>Fecha Inicial</h3>
        <h4>{{data.fechaInicio}}</h4>
      </div>
      <div>
        <h3>Fecha Final</h3>
        <h4>{{data.fechaFin}}</h4>
      </div>
    </div>


    <div class="bloque-data" *ngFor="let data of dataAll">
      <div>
        <h3>Días Trabajados</h3>
        <h4>{{data.diasTranscurridos}}</h4>
      </div>
      <div>
        <h3>Salario Mensual</h3>
        <h4>{{data.salarioMensual}}</h4>
      </div>
    </div>



    <div class="bloque-data" *ngFor="let data of dataAll">
      <div>
        <h3>Auxilio de Transporte</h3>
        <h4>{{auxilioTransporte}}</h4>
      </div>
      <div>
        <h3>Deducciones</h3>
        <h4>{{data.salarioMensual * 0.08}}</h4>
      </div>
    </div>

    <div class="bloque-data" *ngFor="let data of dataAll">
      <div>
        <h3>Otros Pagos Recibidos</h3>
        <h4>{{data.otrasFormasDePago}}</h4>
      </div>
      <div>
        <h3>Salario Recibido</h3>
        <h4>{{data.salarioMensual - data.salarioMensual * 0.08 + data.otrasFormasDePago}}</h4>
      </div>
    </div>

  </section>


  <section class="form-container" *ngFor="let data of dataAll">
    <h2 class="titulo-bloque">Tu Liquidación</h2>
    <div class="resultados">
      <h4>Cesantías:</h4>
      <h3>{{0}}</h3>
    </div>
    <div class="resultados">
      <h4>Intereses Cesantías:</h4>
      <h4>0</h4>
    </div>
    <div class="resultados">
      <h4>Prima:</h4>
      <h4>0</h4>

    </div>
    <div class="resultados">
      <h4>Vacaciones:</h4>
      <h4>0</h4>
    </div>
    <h2 class="titulo-total">Total: $ 0 *</h2>
    <ion-button color="danger">
      <ion-icon slot="start" name="document"></ion-icon>
      Descargar
    </ion-button>
    <ion-button color="primary" [routerLink]="['/calculadora']">
      <ion-icon slot="start" name="chevron-back"></ion-icon>
      Repetir
    </ion-button>


  </section>

  <p class="texto-aclaracion">
    *Los cálculos generados por esta calculadora, no compromenten a la Escuela Nacional Sindical; pues son meramente
    informativos. </p>